<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Note Saver</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Noto+Sans" rel="stylesheet">

    <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <style>
    body {
        background-image: url("/images/pancakes.jpg");
    }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-trans bg-trans mb-4">
        <a class="navbar-brand mt-2" href="#"><img style="max-width:50px; margin-top: -7px;" 
        src="/images/qquiz.png" alt="quiz icon"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/">Home</a>
            
            </div>
        </div>


    </nav>

    <div class="container-fluid">